MONGODB_URI = ""
DATA_BASE_NAME = ""
COLLECTION_NAME = ""

DAGSHUB_USERNAME = ""
DAGSHUB_REPOSITORY = ""
EXPERIMENT_NAME = ""
ENABLE_FINE_TUNING=true
ENABLE_DISTILBERT=true
ENABLE_TABPFN=true

ML_SERVICE_API_KEY=